<html>
  <head>
      <title>NFL Web Dashboard</title>
      <link href="/static/style.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=l4ns_9X8rpGSezxczg5cWp_1L6M-RsVIzp1xZtx16LDp12wJAW9E2j1OR0zOpKKRzbjLK3BknRKZ7hSfOgyDCuOQlv3CouhLOYrIrrQcFjsSMnSpqkKpd9GqM7mAfO8_VZWzd5ANCrwi8meL0b1gJhr2xADigPEFfNldcTjZplsz1gy528QvLKIumxSG2yBAEH1cRA59QG7Iq2lsZwfDgWzu-4Qv_YDjkuunfvV2xg7LsgUrecQuKtUYmOPRisLUqSHN9Q0iJuEOAWJlw3gMqTG_-LEH1L8qc7aLJhCk3yRRCCWuEBluidGfcVjX5K_rL8smJE6YGWDlVaef_I4JHeCswWgbHOYh56WAPAfGjGsN7JIJr-l8E6usUsPo-XfRKSJBFmDe5T-w0swKN85iHhhJIde8pgQMDU0qGHiFAsw9iWiqPU28QrGKzJ1A2zPOT7F3KE1vt0eAHqLTbpU72aOV5JxiDXekhu9k2mUMdmj0kLNnC2-l1NEUuPI6cFc3kAaxQB_hHeMSZUqG97f9tR68t3d72aDGvWYxIYOrpwDCNmhBt3txY9nBKXogGiXhdO1Blq9JmgAn39mfG9s28O5M914teMeMO-mM_iBoK4Szh-1BP8xqMGCke9AcbwXwf63otFld7V2mGzEVk23raQ" charset="UTF-8"></script></head>
  <body>
      <h1>Chart</h1>

      <div class="container">
        <div class="item"></div>
        <div class="item">{{top10|safe}}</div>
        <div class="item">{{teamsalary|safe}}</div>
        <div class="item">{{pospie|safe}}</div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item">{{possalary|safe}}</div>
        <div class="item">{{possalary2|safe}}</div>
        <div class="item">{{team10|safe}}</div>
        <div class="item"></div>
      </div>


  </body>
</html>
